CLIENTSERVICE/xml-resources/web-service-references/gatewayrelevebiService/wsdl/localhost_8080/gatewayrelevebi/gatewayrelevebiService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="getFillColor" type="tns:getFillColor"></xs:element>

<xs:element name="getFillColorResponse" type="tns:getFillColorResponse"></xs:element>

<xs:element name="operation" type="tns:operation"></xs:element>

<xs:element name="operationResponse" type="tns:operationResponse"></xs:element>

<xs:complexType name="operation">
<xs:sequence>
<xs:element name="Str_Oval" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFillColor">
<xs:sequence>
<xs:element name="dtDebut" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dtFin" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Ref" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="TableDS" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFillColorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>